.clear-padding {
    padding: 0px;
}

.clear-margin {
    margin: 0px;
}

.display-table {
    display: table;
}

.display-flex {
    display: flex;
}

.forget-password {
    position: absolute;
    right: 0px;
    top: -45px;
}

.position-relative {
    position: relative;
}

.row.register {
    form {
        .form-group {
            label.control-label {
                line-height: 32px;
                font-weight: 400;
            }
            span.text-danger {
                letter-spacing: 0.2em;
                color: #f04134;
            }
        }
    }
}

.table.table-nobordered>tbody>tr>td {
    // border: none;
}

#captcha_img {
    padding-top: 5px;
}

.flash_message {
    position: fixed;
    z-index: 9999;
    // pointer-events: none;
    top: 12px;
    right: 12px;
    .alert {
        min-width: 260px;
    }
}

.table>thead>tr>th {
    min-width: 80px;
}

.panel-body {
    overflow-x: scroll;
}

@media (max-width: 767px) {
    .navbar-top-links .dropdown-user {
        left: 0px!important;
    }
}